# Misc
.DS_Store

# git
/git/.config/git/user.config

# zsh
/zsh/.config/zsh/.zcompcache/
/zsh/.config/zsh/.zsh_sessions
/zsh/.config/zsh/.zcompdump*

# vim
/vim/.config/vim/vim/
/vim/.config/vim/.netrwhist
/vim/.config/vim/viminfo

# Karabiner Elements
/karabiner/.config/karabiner/automatic_backups

# Scripts
/scripts/Scripts/local/
