# ==============================================================================
# PLUGINS
# ==============================================================================

# Powerlevel10k
zmodule romkatv/powerlevel10k

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-completions
zmodule zsh-users/zsh-autosuggestions
zmodule Aloxaf/fzf-tab

zmodule completion
