; This file is for user-specific Git configurations.
; Fill in the placeholders as needed.

[user]
  name = <name>
  email = <email>
  ; Uncomment this and replace the placeholder if you want to use a specific signing key
  ; signingkey = <signingKey>

; Uncomment the following block to enable commit signing
; [commit]
  ; gpgsign = true

; Uncomment the following block to enable tag signing
; [tag]
  ; gpgSign = true
